* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}


.wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 15px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
}


.box {
  background-color: #444444;
  color: #ffffff;
  padding: 15px;
  border-radius: 6px;
}


.a {
  grid-column: 1;
  grid-row: 1;
}


.b {
  grid-column: 2;
  grid-row: 1;
  justify-self:end; 
  width: 150px;
}

.c {
  grid-column: 1;
  grid-row: 2;
}


.d {
  grid-column: 2;
  grid-row: 2;

  /* la caja D */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 3 columnas internas */
  grid-template-rows: 1fr 1fr;    /* 2 filas internas */
  gap: 10px;
  background-color: #011f80;
}



.e {
  grid-column: 1;
  grid-row: 1 / 2;
  
}


.f {
  grid-column: 2;
  grid-row: 1;
}


.g {
  grid-column: 3;
  grid-row: 1 / 2;


}

/* se agregar un comentario para la caja M, J, I */


.m {
  grid-column: 1;
  grid-row: 2 / 3;
  
}

.j {
  grid-column: 3;
  grid-row: 2 / 3;
  
}

.i {
  grid-column: 2;
  grid-row: 2;
  
}