* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #060606;
    color: #fff;
}

header {
    background-color: #c0060677;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    height: 75px;
    border-bottom: 2px solid #444444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

h1 {
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}



/* segunda  */


nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* tercerra  */

nav a.active {
    background-color: #a0a0a0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a:hover {
    background-color: #fefefecd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1,
nav {
    display: inline-block;
    vertical-align: middle;
}

main {
    /* padding: 2rem; */
    text-align: justify;
    min-height: calc(100vh - 75px - 50px);
}

/* Bienvenida  */
main p {
    margin-bottom: 1rem;
    background-color: #821a1acc;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

main img {
    display: block;
    margin: 9 auto;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* PIE */
footer {
    background-color: #ba0000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid #444;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}




/* ---------------------------------------------------- */
/* BLOKE DE SERIE  y Peliculas */
/* Margenes de separacion de bloque de serie  */
.series {
    margin: 20px 0;
}

/* Separador rojo que esta en el inicio de la palabra serie  */
.series h2 {
    color: #fff;
    margin-bottom: 20px;
    border-left: 5px solid #d40000;
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

/* Convierte al contenedor en una cuadrícula   */
.galeria-series {
    display: grid;
    /*  display: grid;: Convierte al contenedor en una cuadrícula. Los elementos se ordenan en filas y columnas como un tablero mágico */
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));: Crea las columnas automáticamente. repeat(): Repite el patrón. auto-fit: Ajusta el número de columnas para que llenen todo el espacio disponible.  minmax(180px, 1fr): Las cajas medirán al menos 180 px. Si sobra espacio, las cajas se estiran para llenarlo (1 fr es una fracción del espacio libre) */
    gap: 10px;
    /*gap: 10px;: Deja un hueco de 10 px entre todas las filas y columnas. */
}


/* de latarjeta de la pelicula color de fondo borde overflow transicion cursos y borde  */
.tarjeta {
    background: #191919;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
}


/* movimeinto y añadir una sombra al borde  */
.tarjeta:hover {
    transform: translateY(-8px);
    box-shadow: 10 8px 20px rgba(0, 0, 0, .6);
}

/* tamaño y ajuste de la imagen en la tarjeta */
.tarjeta img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

/* color y tamaño del nombre de la pelicula */
.tarjeta h3 {
    color: white;
    padding: 8px;
    font-size: 14px;
}

/* Color y tamaño de fecha de la pelicula */
.tarjeta p {
    color: #bbb;
    padding: 0 10px 15px;
}




/* Fin del BLOKE DE SERIE   */

// Metodología BEM CSS

// Block (Bloque) 
.videos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

// Element (Elemento)
.videos__iten {
    width: 30%;
    aspect-ratio: 16/9;
}

// Modifier (Modificador)
.videos__iten--active {
    border: 5px solid rgb(255, 0, 0);
}
.videos__iten--amarillo {
    border: 5px solid rgb(240, 228, 1);
}
.videos__iten--azul {
    border: 5px solid rgb(2, 65, 191);
}




// Block (Bloque) 
.mapa {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: 5px solid rgb(0, 23, 226);
}
// Element (Elemento)
.mapa__cei {
    width: 100%;
    height: 400px;
}

// Modifier (Modificador)
.mapa__cei--border {
    border: 55px solid rgb(0, 23, 226);
}