* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7fafc;
    color: #2d3748;
}

/* Cabecera */
header {
    background-color: #2d3748;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
}

header p {
    margin: 5px 0 0 0;
    color: #a0aec0;
}

/* BOTONERA FIJA (Sticky Navbar) */
nav {
    background-color: #3182ce;
    position: -webkit-sticky;
    /* Soporte para Safari */
    position: sticky;
    /* Convierte la barra en fija al hacer scroll */
    top: 0;
    /* Se congela justo en el borde superior de la pantalla */
    z-index: 1000;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2b6cb0; /* Color oscuro al pasar el ratón */
}

/* contenido principal */
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

/* scroll */
section {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

    scroll-margin-top: 70px;
}

section h2 {
    color: #2b6cb0;
    margin-top: 0;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 10px;
}

article {
    margin-top: 20px;
}

code {
    background-color: #edf2f7;
    color: #e53e3e;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}

mark {
    background-color: #feebc8;
    color: #c05621;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Elementos multimedia */
figure {
    background-color: #f7fafc;
    border: 1px solid #e2e8f0;
    padding: 15px;
    margin: 20px 0 0 0;
    text-align: center;
    border-radius: 6px;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    font-size: 0.85rem;
    color: #718096;
    font-style: italic;
}

/* Pie de página */
footer {
    background-color: #1a202c;
    color: #a0aec0;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}